
.modal {
  transform: translate3d(-100%, 0, 0);
  -webkit-transform: translate3d(-100%, 0, 0);
  transition: transform .2s ease-out, -webkit-transform .2s ease-out;

  &.in {
    transform: translateZ(0);
    -webkit-transform: translateZ(0);
  }
}

.modal-dialog {
  width: 100%;
  max-width: 100%;
  height: 100%;
  @extend .no-margin, .no-padding;
}

.modal-content {
  border: none;
  border-radius: 0;
  min-height: 100%;
}

.modal-header {
  display: block;
  border-bottom: none;
}