
.logo {
  @extend .display-2;
  font-weight: 500;

  @media(max-width: map_get($grid-breakpoints, 'sm')) {
    font-size: 3.5rem;
  }

  @media(max-width: map_get($grid-breakpoints, 'xs')) {
    font-size: 3rem;
  }
}