* {
  outline: none !important;
}

body, html {
  min-height: 100%;
  height: 1%;
}

app-root, mat-sidenav-container {
  height: 100%;
  margin: 0;
  width: 100%;
}

.full-height {
  height: 100%;

  //@media(max-width: map_get($grid-breakpoints, 'sm')) {
  //  height: auto;
  //}
}

.container-darken {
  @media(max-width: 640px) {
    &.full-height {
      height: auto !important;
    }
  }
}

.pull {
  &-right {
    float: right;
  }
  &-left {
    float: left;
  }
}

.full-width {
  width: 100%;
}

.over-hidden {
  overflow: hidden;
}

.container {
  &-lighten {
    background: $white;
  }

  &-darken {
    background: theme-color("primary");
  }
}

.no-padding {
  padding: 0;
}

.no-margin {
  margin: 0;
}

.text {
  &-left {
    text-align: left;
  }
  &-center {
    text-align: center;
  }
  &-right {
    text-align: right;
  }
}

.padding-clear {
  padding: 0 !important;

  @each $key, $value in $grid-breakpoints {
    @media(max-width: $value) {
      &-#{$key} {
        padding: 0 !important;
      }
    }
  }
}

.margin-clear {
  padding: 0 !important;

  @each $key, $value in $grid-breakpoints {
    @media(max-width: $value) {
      &-#{$key} {
        padding: 0 !important;
      }
    }
  }
}

$map-margin-breakpoints: (
  xl: 1,
  lg: 1,
  md: 1,
  sm: 0.85,
  xs: 0.65
);

@for $i from 5 through 80 {
  @if ($i/5 - round($i/5) == 0) {

    .pt-#{$i} {
      padding-top: #{$i}px;
    }
    .pr-#{$i} {
      padding-right: #{$i}px;
    }
    .pb-#{$i} {
      padding-bottom: #{$i}px;
    }
    .pl-#{$i} {
      padding-left: #{$i}px;
    }

    .mt-#{$i} {
      margin-top: #{$i}px;
    }
    .mr-#{$i} {
      margin-right: #{$i}px;
    }
    .mb-#{$i} {
      margin-bottom: #{$i}px;
    }
    .ml-#{$i} {
      margin-left: #{$i}px;
    }

    @each $key, $value in $grid-breakpoints {
      @if (map_has_key($map-margin-breakpoints, $key)) {
        @media(min-width: $value) {
          .pt-#{$i} {
            padding-top: #{$i * map_get($map-margin-breakpoints, $key)}px !important;
          }
          .pr-#{$i} {
            padding-right: #{$i * map_get($map-margin-breakpoints, $key)}px !important;
          }
          .pb-#{$i} {
            padding-bottom: #{$i * map_get($map-margin-breakpoints, $key)}px !important;
          }
          .pl-#{$i} {
            padding-left: #{$i * map_get($map-margin-breakpoints, $key)}px !important;
          }

          .mt-#{$i} {
            margin-top: #{$i * map_get($map-margin-breakpoints, $key)}px !important;
          }
          .mr-#{$i} {
            margin-right: #{$i * map_get($map-margin-breakpoints, $key)}px !important;
          }
          .mb-#{$i} {
            margin-bottom: #{$i * map_get($map-margin-breakpoints, $key)}px !important;
          }
          .ml-#{$i} {
            margin-left: #{$i * map_get($map-margin-breakpoints, $key)}px !important;
          }
        }
      }
    }

  }
}

.p {
  &-r {
    position: relative;
  }
  &-s {
    position: static;
  }
  &-a {
    position: absolute;
  }
  &-f {
    position: fixed;
  }
}

@for $i from 1 through 10 {
  .z-i-#{$i} {
    z-index: #{$i};
  }
}

.hidden {
  display: none;
}

.max-padding {
  padding: 30px 50px;

  @media(max-width: map_get($grid-breakpoints, 'sm')) {
    padding: 15px 25px;
  }
}

$key-position: ('right', 'left', 'top', 'bottom');

@each $key in $key-position {
  .#{$key} {
    #{$key}: 0;

    &-100 {
      #{$key}: 100%;
    }
  }
}

.d-b {
  display: block;
}

.append-block {
  &:after {
    content: " ";
    display: block;
  }
}

.cursor {
  &-pointer {
    cursor: pointer;
  }
}

.b-r {
  &-0 {
    border-radius: 0 !important;
  }
}

.cdk-overlay-container {
  z-index: 1100;
}