<mat-accordion class="example-headers-align">
    <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle="true">
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{ 'UserInfoProfile' | translate }}
            </mat-panel-title>
        </mat-expansion-panel-header>

        <mat-progress-bar *ngIf="user.isLoader" mode="query"></mat-progress-bar>

        <profile-form-user-change-component *ngIf="!user.isLoader"></profile-form-user-change-component>

        <email-edit-user-profile *ngIf="!user.isLoader"></email-edit-user-profile>

    </mat-expansion-panel>

    <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle="true">
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{ 'NewPasswordHeading' | translate }}
            </mat-panel-title>
        </mat-expansion-panel-header>

        <mat-progress-bar *ngIf="user.isLoader" mode="query"></mat-progress-bar>

        <profile-change-password-form *ngIf="!user.isLoader"></profile-change-password-form>

    </mat-expansion-panel>

</mat-accordion>