$all-color-keys: 50, 100, 200, 300, 400, 500, 600, 700, 800, 900, A100, A200, A400, A700;

$all-color: (
  'brown': $mat-brown,
  'blue': $mat-blue,
  'orange': $mat-orange,
  'indigo': $mat-indigo,
  'amber': $mat-amber,
  'blue-grey': $mat-blue-grey,
  'red': $mat-red,
  'green': $mat-green,
  'pink': $mat-pink,
  'grey': $mat-grey
);

.text {
  &-accent {
    color: theme-color("primary") !important;
  }
  &-primary {
    color: theme-color("info") !important;
  }
}

@each $name, $color in $all-color {
  .text-#{$name} {
    color: mat-color($color, A400) !important;

    @each $key in $all-color-keys {
      &-#{$key} {
        color: mat-color($color, $key) !important;
      }
    }
  }

  .bg-#{$name} {
    background-color: mat-color($color, A400) !important;

    @each $key in $all-color-keys {
      &-#{$key} {
        background-color: mat-color($color, $key) !important;
      }
    }
  }

  @each $name2, $color2 in $all-color {
    @if($name != $name2) {
      .text-gradient-#{$name}-#{$name2} {
        display: inline-block;
        @include bg-gradient(135, mat-color($color, A400), '', mat-color($color2, A400), '');
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }
}