<mat-spinner *ngIf="service.loader"></mat-spinner>

<div *ngIf="!service.loader">

    <div class="text-right mb-15">
        <button mat-button class="text-red" (click)="confirmDeleteApp()">{{ 'Delete' | translate }}</button>
    </div>

    <nav mat-tab-nav-bar>
        <a mat-tab-link
           *ngFor="let item of menu; let i = index"
           routerLink="/{{ translate.currentLang }}/panel/apps/{{ service.data.id }}{{ item.url }}"
           [active]="item.active"
           (click)="checkActive(i)"
        >
            {{ item.label | translate }}
        </a>
    </nav>

    <div class="pt-35">
        <router-outlet></router-outlet>
    </div>
</div>