<mat-card>
    <h4 class="mb-15">{{ 'HeadingSignIn' | translate }}</h4>
    <mat-card-content>
        <form [formGroup]="form" novalidate (ngSubmit)="signIn(form.value, form.valid)" class="auth-form wrapper-form">

            <div>
                <mat-input-container>
                    <input [readonly]="sendLoader" matInput [placeholder]="'FormLoginPlaceholderEmail' | translate" name="form[email]" formControlName="email" />
                </mat-input-container>
                <div
                    class="text-danger text-size-13 mb-15"
                    [hidden]="form.controls.email.valid || (form.controls.email.pristine && !submitted)"
                    [innerHtml]="'ErrorFormLoginEmail' | translate"
                ></div>
            </div>

            <div>
                <mat-input-container>
                    <input [readonly]="sendLoader" type="password" matInput [placeholder]="'FormLoginPlaceholderPassword' | translate" name="form[password]" formControlName="password" />
                </mat-input-container>
                <div
                    class="text-danger text-size-13 mb-15"
                    [hidden]="form.controls.password.valid || (form.controls.password.pristine && !submitted)"
                    [innerHtml]="'ErrorFormLoginPassword' | translate"
                ></div>
            </div>

            <div class="pb-25">
                <mat-checkbox [disabled]="sendLoader" class="example-margin" name="form[remember]" formControlName="remember">
                    {{ 'FormLoginPlaceholderRemember' | translate }}
                </mat-checkbox>
            </div>

            <div *ngIf="error" class="alert alert-danger" [innerHtml]="error | translate"></div>

            <div class="text-right">
                <button [disabled]="sendLoader" type="submit" mat-raised-button color="accent">
                    <mat-icon>face</mat-icon> {{ 'linkSignIn' | translate }}
                </button>
            </div>
        </form>
    </mat-card-content>
    <mat-card-actions>
        <a class="mr-10" routerLink="register">{{ 'AccountNotExistsLink' | translate }}</a>
        <a routerLink="restore">{{ 'RestorePassowrdLink' | translate }}</a>
    </mat-card-actions>
</mat-card>