<mat-card>
    <h4 class="mb-15">{{ 'HeadingSignUp' | translate }}</h4>
    <mat-card-content>
        <form [formGroup]="form" novalidate (ngSubmit)="signIn(form.value, form.valid)" class="auth-form wrapper-form">

            <div>
                <mat-input-container>
                    <input [readonly]="sendLoader" matInput [placeholder]="'FormLoginPlaceholderName' | translate" name="form[name]" formControlName="name" />
                </mat-input-container>
                <div
                    class="text-danger text-size-13 mb-15"
                    [hidden]="form.controls.name.valid || (form.controls.name.pristine && !submitted)"
                    [innerHtml]="'ErrorFormLoginName' | translate"
                ></div>
            </div>

            <div>
                <mat-input-container>
                    <input [readonly]="sendLoader" matInput [placeholder]="'FormLoginPlaceholderEmail' | translate" name="form[email]" formControlName="email" />
                </mat-input-container>
                <div
                    class="text-danger text-size-13 mb-15"
                    [hidden]="form.controls.email.valid || (form.controls.email.pristine && !submitted)"
                    [innerHtml]="'ErrorFormLoginEmail' | translate"
                ></div>
            </div>

            <div>
                <mat-input-container>
                    <input [readonly]="sendLoader" type="password" matInput [placeholder]="'FormLoginPlaceholderPassword' | translate" name="form[password]" formControlName="password" />
                </mat-input-container>
                <div
                    class="text-danger text-size-13 mb-15"
                    [hidden]="form.controls.password.valid || (form.controls.password.pristine && !submitted)"
                    [innerHtml]="'ErrorFormLoginPassword' | translate"
                ></div>
            </div>

            <div>
                <mat-input-container>
                    <input [readonly]="sendLoader" type="password" matInput [placeholder]="'FormLoginPlaceholderPasswordConfirmation' | translate" name="form[password_confirmation]" formControlName="password_confirmation" />
                </mat-input-container>
                <div
                    class="text-danger text-size-13 mb-15"
                    [hidden]="form.controls.password_confirmation.valid || (form.controls.password_confirmation.pristine && !submitted)"
                    [innerHtml]="'ErrorFormLoginPasswordConfirmation' | translate"
                ></div>
            </div>

            <div *ngIf="error" class="alert alert-danger" [innerHtml]="error | translate"></div>
            <div *ngIf="success" class="alert alert-success" [innerHtml]="success | translate"></div>

            <div class="text-right">
                <button [disabled]="sendLoader" type="submit" mat-raised-button color="accent">
                    {{ 'linkSignUp' | translate }}
                </button>
            </div>
        </form>
    </mat-card-content>
    <mat-card-actions>
        <a routerLink="../">{{ 'AccountExistsLink' | translate }}</a>
    </mat-card-actions>
</mat-card>