<div *ngIf="loader">
    <h4 class="text-center text-info" *ngIf="errorToken === null">
        {{ 'LoadingToken' | translate }}
    </h4>
    <div class="alert alert-danger" *ngIf="errorToken !== null">
        {{ errorToken | translate }}
    </div>
</div>

<mat-card *ngIf="!loader">
    <h4 class="mb-15">{{ 'HeadingResetPassword' | translate }}</h4>
    <mat-card-content>
        <form [formGroup]="form" novalidate (ngSubmit)="signIn(form.value, form.valid)" class="auth-form wrapper-form">

            <input type="hidden" name="form[token]" formControlName="token" />

            <div>
                <mat-input-container>
                    <input [readonly]="sendLoader" matInput [placeholder]="'FormLoginPlaceholderEmail' | translate" name="form[email]" formControlName="email" />
                </mat-input-container>
                <div
                    class="text-danger text-size-13 mb-15"
                    [hidden]="form.controls.email.valid || (form.controls.email.pristine && !submitted)"
                    [innerHtml]="'ErrorFormLoginEmail' | translate"
                ></div>
            </div>

            <div>
                <mat-input-container>
                    <input [readonly]="sendLoader" type="password" matInput [placeholder]="'FormResetPlaceholderPassword' | translate" name="form[password]" formControlName="password" />
                </mat-input-container>
                <div
                    class="text-danger text-size-13 mb-15"
                    [hidden]="form.controls.password.valid || (form.controls.password.pristine && !submitted)"
                    [innerHtml]="'ErrorFormLoginPassword' | translate"
                ></div>
            </div>

            <div>
                <mat-input-container>
                    <input [readonly]="sendLoader" type="password" matInput [placeholder]="'FormLoginPlaceholderPasswordConfirmation' | translate" name="form[password_confirmation]" formControlName="password_confirmation" />
                </mat-input-container>
                <div
                    class="text-danger text-size-13 mb-15"
                    [hidden]="form.controls.password_confirmation.valid || (form.controls.password_confirmation.pristine && !submitted)"
                    [innerHtml]="'ErrorFormLoginPasswordConfirmation' | translate"
                ></div>
            </div>

            <div *ngIf="error" class="alert alert-danger" [innerHtml]="error | translate"></div>

            <div class="text-right">
                <button [disabled]="sendLoader" type="submit" mat-raised-button color="accent">
                    {{ 'ButtonResetPassword' | translate }}
                </button>
            </div>
        </form>
    </mat-card-content>
    <mat-card-actions>
        <a class="mr-10" routerLink="../../">{{ 'RememberAccount' | translate }}</a>
    </mat-card-actions>
</mat-card>