<mat-card>
    <h4 class="mb-15">{{ 'HeadingRememberPassword' | translate }}</h4>
    <mat-card-content>
        <form [formGroup]="form" novalidate (ngSubmit)="signIn(form.value, form.valid)" class="auth-form wrapper-form">

            <div>
                <mat-input-container>
                    <input [readonly]="sendLoader" matInput [placeholder]="'FormLoginPlaceholderEmail' | translate" name="form[email]" formControlName="email" />
                </mat-input-container>
                <div
                    class="text-danger text-size-13 mb-15"
                    [hidden]="form.controls.email.valid || (form.controls.email.pristine && !submitted)"
                    [innerHtml]="'ErrorFormLoginEmail' | translate"
                ></div>
            </div>

            <div *ngIf="error" class="alert alert-danger" [innerHtml]="error | translate"></div>
            <div *ngIf="success" class="alert alert-success" [innerHtml]="success | translate"></div>

            <div class="text-right">
                <button [disabled]="sendLoader" type="submit" mat-raised-button color="accent">
                    {{ 'SumitButtonResetPassword' | translate }}
                </button>
            </div>
        </form>
    </mat-card-content>
    <mat-card-actions>
        <a class="mr-10" routerLink="../">{{ 'RememberAccount' | translate }}</a>
    </mat-card-actions>
</mat-card>