<modal-component [heading]="'Auntification' | translate">
    <!-- HTML CODE -->

    <div class="pt-30 pb-30" *ngIf="!user.isLoader && user.isGuest()">
        <div class="row">
            <div class="col-md-2 padding-clear-sm"></div>
            <div class="col-md-8 padding-clear-sm">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>

    <div class="" *ngIf="!user.isLoader && !user.isGuest()" (click)="redirectToPanel()">
        {{ 'ErrorUserNotIsGuestFormLogin' | translate }}
    </div>

</modal-component>