
.menu-item-box {
  @extend .mb-15;

  &:last-child {
    margin: 0;
  }
}

.menu-item {
  @extend h3;

  &:active, &:visited, &:hover {
    color: inherit;
    text-decoration: none;
  }

  display: inline-block;
  position: relative;
  padding: 3px 0;

  &:after {
    content: " ";
    display: block;
    position: absolute;
    top: 100%;
    height: 3px;
    margin-top: -1px;
    width: 0;
    left: 50%;
    background: theme-color('info');
    transition: all 0.3s ease;
    @extend .z-i-1;
  }

  &:hover {
    &:after {
      width: 100%;
      left: 0;
    }
  }
}