
<h1 class="mb-25">{{ 'HeadingAddNewApp' | translate }}</h1>

<mat-card>
    <form [formGroup]="form" (ngSubmit)="submit(form.value, form.valid)">
        <mat-form-field>
            <input
                matInput
                formControlName="name"
                name="Form[name]"
                [placeholder]="'FormNameAppField' | translate"
            />
        </mat-form-field>
        <div
            class="text-danger text-size-13 mb-15"
            [hidden]="form.controls.name.valid || (form.controls.name.pristine && !submitted)"
            [innerHtml]="'PanelErrorFormCreateAppsName' | translate"
        ></div>

        <div class="alert alert-danger" *ngIf="error">
            {{ error | translate }}
        </div>

        <div class="text-right">
            <button [disabled]="sendLoader" mat-raised-button color="accent">{{ 'Add' | translate }}</button>
        </div>
    </form>
</mat-card>