<div class="text-right mb-15">
    <button mat-button color="primary" routerLink="/{{ translate.currentLang }}/panel/apps/create">{{ 'CreateApp' | translate }}</button>
</div>

<div class="row mb-25" [ngClass]="{'loading': service.list.loader}" *ngIf="service.models.length > 0">
    <div class="col-md-6 mb-15" *ngFor="let item of service.models">
        <mat-card>

            <mat-card-header>
                <mat-card-title>{{ item.name }}</mat-card-title>
                <mat-card-subtitle>
                    Api key: <span class="text-primary">{{ item.key }}</span>
                </mat-card-subtitle>
            </mat-card-header>

            <div *ngIf="item.get_stat_subs.length">
                <canvas
                    baseChart
                    chartType="line"
                    [data]="item.chart.datas"
                    [labels]="item.chart.labels"
                    [options]="{responsive: true}">
                </canvas>
            </div>

            <div *ngIf="!item.get_stat_subs.length" class="text-info">
                {{ 'UndefinedSubsApp' | translate }}
            </div>

            <mat-card-actions>
                <button mat-button routerLink="/{{ translate.currentLang }}/panel/apps/{{ item.id }}">
                    {{ 'More' | translate }}
                </button>
            </mat-card-actions>

        </mat-card>
    </div>
</div>

<div *ngIf="!service.models.length && service.list.loader">
    <div class="text-center">
        <mat-spinner></mat-spinner>
    </div>
</div>

<pagination-list
    [loader]="!service.models.length"
    [disabled]="service.list.loader"
    [length]="service.list.total"
    [pageSize]="service.list.pageSize"
    (onAction)="service.list.pageAction($event)"
></pagination-list>