<ul class="{{ className }}">
    <li *ngFor="let item of service.breadCrumbs">
        <a *ngIf="item.url !== null" routerLink="{{ item.url }}">{{ item.name }}</a>
        <span *ngIf="item.url === null">{{ item.name }}</span>
    </li>
</ul>