<div *ngIf="!lang.isLoader" class="pull-right">
    <mat-menu #langMenuModal="matMenu">
        <button *ngFor="let item of lang.languages" mat-menu-item (click)="main.replaceLang(item.id)">
            <span>{{ item.name }}</span>
        </button>
    </mat-menu>

    <button mat-mini-fab color="primary" class="mb-10" [matMenuTriggerFor]="langMenuModal">
        {{ translate.currentLang | titlecase }}
    </button>
</div>