$hamburger-layer-color: theme-color('primary');
$hamburger-padding-x: 0px;

@import "~hamburgers/_sass/hamburgers/hamburgers";
@import "~hamburgers/_sass/hamburgers/_base";

//.burger-icon {
//  width: 28px;
//  height: 24px;
//  position: relative;
//  -webkit-transform: rotate(0deg);
//  -moz-transform: rotate(0deg);
//  -ms-transform: rotate(0deg);
//  -o-transform: rotate(0deg);
//  transform: rotate(0deg);
//  -webkit-transition: all 0.5s eash-in-out;
//  -moz-transition: all 0.5s eash-in-out;
//  transition: all 0.5s eash-in-out;
//  cursor: pointer;
//  display: inline-block;
//  vertical-align: middle;
//}
//
//.burger-item {
//  display: block;
//  position: absolute;
//  height: 2px;
//  width: calc(100% - 4px);
//  width: -webkit-calc(100% - 4px);
//  background: theme-color("primary");
//  left: 2px;
//  -webkit-transform: rotate(0deg);
//  -moz-transform: rotate(0deg);
//  -ms-transform: rotate(0deg);
//  -o-transform: rotate(0deg);
//  transform: rotate(0deg);
//  -webkit-transition: all 0.25s ease-in-out;
//  -moz-transition: all 0.25s ease-in-out;
//  transition: all 0.25s ease-in-out;
//}
//
//.burger-item:nth-child(1) {
//  top: 5px;
//}
//
//.burger-item:nth-child(2),
//.burger-item:nth-child(3) {
//  top: 11px;
//}
//
//.burger-item:nth-child(4) {
//  top: 17px;
//}
//
//.burger-box {
//  display: inline-block;
//  vertical-align: top;
//}
//
//.burger-box.active {
//  opacity: 1;
//}
//
//.burger-box.active .burger-item:nth-child(1),
//.burger-box.active .burger-item:nth-child(4) {
//  top: 11px;
//  width: 0%;
//  left: calc(50% - 2px);
//  left: -webkit-calc(50% - 2px);
//  opacity: 0;
//}
//
//.burger-box.active .burger-item:nth-child(2) {
//  -webkit-transform: rotate(45deg);
//  -moz-transform: rotate(45deg);
//  -ms-transform: rotate(45deg);
//  -o-transform: rotate(45deg);
//  transform: rotate(45deg);
//}
//
//.burger-box.active .burger-item:nth-child(3) {
//  -webkit-transform: rotate(-45deg);
//  -moz-transform: rotate(-45deg);
//  -ms-transform: rotate(-45deg);
//  -o-transform: rotate(-45deg);
//  transform: rotate(-45deg);
//}