$map-size-breakpoints: (
  xs: 0.65,
  sm: 0.85,
  md: 1,
  lg: 1,
  xl: 1
);

@for $i from 5 through 60 {
  .text-size-#{$i} {
    font-size: #{$i}px !important;
  }

  @each $key, $value in $grid-breakpoints {
    @if (map_has_key($map-size-breakpoints, $key)) {
      @media(min-width: $value) {
        .text-size-#{$i} {
          font-size: $i * map_get($map-size-breakpoints, $key) !important;
        }
      }
    }
  }
}

.heading-content {
  font-weight: 900;

  div {
    font-size: 80%;
  }

  padding-bottom: $grid-gutter-width / 2;
  margin-bottom: $grid-gutter-width;

  border-bottom: 1px solid mat-color($mat-grey, 300);
}