<mat-sidenav-container class="sidenav-container">
    <mat-sidenav class="shadow-layout" #sidenav [mode]="!main.isMobile() ? 'side' : 'over'" [opened]="!main.isMobile()">

        <mat-nav-list>
            <a mat-list-item routerLink="/{{ translate.currentLang }}/panel">
                {{ 'Dashboard' | translate }}
            </a>
            <mat-divider></mat-divider>

            <a mat-list-item routerLink="/{{ translate.currentLang }}/panel/apps">
                {{ 'Apps' | translate }}
            </a>
            <mat-divider></mat-divider>
        </mat-nav-list>

    </mat-sidenav>

    <mat-toolbar color="primary">
        <span *ngIf="!user.isLoader">{{ user.identity.name }}</span>
        <span class="flex-all-width"></span>

        <mat-menu #userMenu="matMenu">
            <button mat-menu-item (click)="main.toUrl('/profile')"> {{ 'Profile' | translate }} </button>
            <button mat-menu-item (click)="logout()"> {{ 'Logout' | translate }} </button>
        </mat-menu>

        <button [matMenuTriggerFor]="userMenu" *ngIf="!user.isLoader" mat-mini-fab color="accent">
            <mat-icon>account_circle</mat-icon>
        </button>
    </mat-toolbar>

    <section class="container pt-80">
        <router-outlet></router-outlet>
    </section>

</mat-sidenav-container>

<!-- primary content -->
<button *ngIf="!main.isMobile()" mat-fab class="button-open-menu" (click)="sidenav.toggle()">
    <mat-icon>add</mat-icon>
</button>
<button *ngIf="main.isMobile()" mat-mini-fab class="button-open-menu" (click)="sidenav.toggle()">
    <mat-icon>add</mat-icon>
</button>