@mixin bg-gradient($deg, $color1, $percent1, $color2, $percent2) {
  background: linear-gradient(#{$deg}deg, #{$color1} #{$percent1}, #{$color2} #{$percent2});
  -moz-background: linear-gradient(#{$deg}deg, #{$color1} #{$percent1}, #{$color2} #{$percent2});
  -webkit-background: linear-gradient(#{$deg}deg, #{$color1} #{$percent1}, #{$color2} #{$percent2});
  -ms-background: linear-gradient(#{$deg}deg, #{$color1} #{$percent1}, #{$color2} #{$percent2});
}
