<footer class="border-top-decor">
    <div class="indent-around-top indent-around-bottom">
        <div class="clear touch-row touch-row-bottom">

        </div>
    </div>
    <div class="x-small primary-lighter">
        © {{ main.getCurrentYear() }} PS. Все права защищены.<br>
        <!--a href="/confidence/" class="link-item">Политика конфиденциальности</a-->
    </div>
</footer>