<div class="container-fluid full-height no-padding">
    <div class="row full-height no-margin">
        <div class="col-md-6 col-sm-12 full-height container-lighten no-padding over-hidden">
            <div class="container-fluid max-padding js-swipe-menu">

                <div class="row">
                    <div class="col">
                        <div class="logo text-info">PS</div>
                    </div>
                    <div class="col text-right">
                        <div class="burger-menu-container p-r">
                            <div class="hamburger hamburger--spin" (click)="toggleMenu()" [ngClass]="{'is-active': menu}">
                                <div class="hamburger-box">
                                    <div class="hamburger-inner"></div>
                                </div>
                            </div>

                            <div class="p-a right top-100 mt-25 z-i-2">
                                <button *ngIf="!user.isLoader && user.isGuest()" routerLink="{{ translate.currentLang }}/auth" mat-mini-fab color="accent" class="mb-10">
                                    <mat-icon>face</mat-icon>
                                </button>

                                <div class="clearfix"></div>

                                <lang-button-component></lang-button-component>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="wrapper-menu-box" [ngClass]="{active: menu}">
                    <div class="menu-box fisrt-menu-box">
                        <h1 class="mb-25">Web push notification</h1>

                        <div *ngIf="!user.isLoader">
                            <a mat-raised-button color="accent" *ngIf="!user.isGuest()" class="btn-large" href="{{ translate.currentLang }}/panel">
                                {{ 'GoToPanelTextButton' | translate }}
                            </a>
                            <button type="button" mat-raised-button color="accent" *ngIf="!user.isLoader && user.isGuest()" class="btn-large" routerLink="{{ translate.currentLang }}/auth">
                                {{ 'StartServiceTextButton' | translate }}
                            </button>
                        </div>

                        <div *ngIf="isPush" class="mt-25">
                            <div class="mt-25 text-red text-size-16" *ngIf="errorMessage">{{ errorMessage }}</div>
                            <div class="mt-25 text-green text-size-16" *ngIf="successMessage">{{ successMessage }}</div>
                        </div>
                    </div>
                    <div class="menu-box second-menu-box">
                        <ul class="list-unstyled">
                            <li *ngFor="let item of menuItems" class="menu-item-box">
                                <a
                                    routerLink="{{ translate.currentLang }}/{{ item.href }}"
                                    href="javascript:void(0)"
                                    class="menu-item"
                                >{{ item.title | translate }}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12 container-darken no-padding p-r full-height over-hidden">
            <div class="container-fluid max-padding p-r z-i-2 text-center text-white">
                <h2 class="mat-display-2">{{ 'HowDoesItLook' | translate }}</h2>

                <div *ngIf="isPush">
                    <button *ngIf="!pushToken" mat-raised-button color="accent" class="btn-large btn-inline-width" (click)="initPush()">
                        {{ 'ToTry' | translate }}
                    </button>
                    <button *ngIf="pushToken" mat-raised-button color="accent" class="btn-large btn-inline-width" (click)="sendPush()">
                        {{ 'SendPush' | translate }}
                    </button>
                </div>

                <h3 *ngIf="!isPush" class="text-red-A200">
                    <b>{{ 'LetMePush' | translate }}</b>
                </h3>
            </div>
        </div>
    </div>
</div>

<router-outlet></router-outlet>