<div
    (onHidden)="onHidden()"
    bsModal
    #modalLayout="bs-modal"
    class="modal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="myLargeModalLabel"
    aria-hidden="true"
    [config]="{backdrop: 'static'}"
>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" mat-mini-fab color="default" data-dismiss="modal" aria-label="Close" (click)="modalLayout.hide()">
                    <mat-icon>clear</mat-icon>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <h1 class="heading-content">
                        <span class="text-gradient-pink-indigo" [innerHtml]="'error404heading' | translate"></span>
                    </h1>

                    <div class="mid" [innerHtml]="'backPageHomeText' | translate" (click)="backHome($event)"></div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="container text-right text-grey-500">
                    <footer-page></footer-page>
                </div>
            </div>
        </div>
    </div>
</div>